<h3 class="">Kampanyalar</h3>
<div class="container hr"></div>
<span class="yellow"></span>


<div class="binikiyuzseksen">
  <div class="col-6">
  <div class="bosluk">
    <p> </p>
  </div>

  </div>
      <div class="container">
        <div class="row">
          <div class="col-md-5 offset-md-1">
            <div class="bir">
              <h4 class="baslik">Kurumsal Web</h4>
              <h4 class="baslik2">Tasarım</h4>
              <p class="yazi">Firmanıza özel hazırlanmış bir </p>
              <p class="yazi2">internet siteniz olsun!</p>
            
              <button type="button" class="btn btn-warning">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
                   </svg>  
                Daha Fazla Bilgi
              </button>
            
              </div>

          </div>

          <div class="col-md-5">
            <div class="iki">
              <h4 class="baslik3">Netger Avukat</h4>
              <h4 class="baslik4">ürününde %20 İndirim</h4>
              <h4 class="baslik5">Fırsatı</h4>
              <p class="yazi3">Ofisini son 1 yıl içinde açan</p>
              <p class="yazi4">avukatlara özel!</p>
            
              <button type="button" class="btn btn-warning">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
                   </svg>  
                Daha Fazla Bilgi
              </button>  </div>

          </div>
        </div>
        
  <div class="col-6">
  <div class="bosluk">
    <p> </p>
  </div>

  </div>

  <div class="container">
          
          <div class="col-md-5 offset-md-3">
            <div class="uc">
              <h4 class="baslik3">Netger Doktor</h4>
              <h4 class="baslik4">ürününde %20 İndirim</h4>
              <h4 class="baslik5">Fırsatı</h4>
              <p class="yazi3">Özel muayenehanesini son 1 yıl</p>
              <p class="yazi4">içinde açan doktorlara özel!</p>
            
              <button type="button" class="btn btn-warning">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
                   </svg>  
                Daha Fazla Bilgi
              </button>  
            </div>
          </div>
  </div>

  <div class="col-6">
  <div class="bosluk2">
    <p> </p>
  </div>
  </div>
 
</div>
</div>





<div class="binyirmidort">

<div class="col-6">
  <div class="bosluk">
    <p> </p>
  </div>
  </div>

  <div class="dort">
    <h4 class="baslik6">Kurumsal Web Tasarım</h4>
    <p class="yazi5">Firmanıza özel hazırlanmış bir internet siteniz olsun!</p>
  
    <button type="button" class="btn1 btn-warning">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
         </svg>  
      Daha Fazla Bilgi
    </button>
  
    </div>

    <div class="col-6">
      <div class="bosluk">
        <p> </p>
      </div>
      </div>

    <div class="bes">
      <h4 class="baslik6">Netger Avukat ürününde %20 İndirim Fırsatı</h4>
      <p class="yazi5">Ofisini son 1 yıl içinde açan avukatlara özel!</p>
    
      <button type="button" class="btn1 btn-warning">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
           </svg>  
        Daha Fazla Bilgi
      </button>
    
      </div>
      <div class="col-6">
        <div class="bosluk">
          <p> </p>
        </div>
        </div>

      <div class="alti offset">
        <h4 class="baslik6">Netger Doktor ürününde %20 İndirim Fırsatı</h4>
        <p class="yazi5">Özel muayenehanesini son 1 yıl içinde açan doktorlara özel!</p>
      
        <button type="button" class="btn1 btn-warning">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
             </svg>  
          Daha Fazla Bilgi
        </button>
      
        </div>

      <div class="col-6">
        <div class="bosluk">
          <p> </p>
        </div>
        </div>


</div>





<div class="gerikalan">

  <div class="col-6">
    <div class="bosluk">
      <p> </p>
    </div>
    </div>
  <div>

        <div class="hovericin">
    <div class="resimbir">
      <img src="/assets/kampanyauc.jpg">
    </div>


    <div class="yedi">
      <h4 class="baslik7">Kurumsal Web Tasarım</h4>
      <p class="yazi6">Firmanıza özel hazırlanmış bir internet siteniz olsun!</p>
    
      <button type="button" class="btn1 btn-warning">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
           </svg>  
        Daha Fazla Bilgi
      </button>
    
      </div>
  </div>
 


      <div class="col-6">
        <div class="bosluk">
          <p> </p>
        </div>
        </div>



          <div class="hovericin">
    <div class="resimbir">
      <img src="/assets/avukatuc.jpg">
    </div>

      <div class="sekiz">
        <h4 class="baslik7">Netger Avukat ürününde %20 İndirim Fırsatı</h4>
        <p class="yazi6">Ofisini son 1 yıl içinde açan avukatlara özel!</p>
      
        <button type="button" class="btn1 btn-warning">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
             </svg>  
          Daha Fazla Bilgi
        </button>

      </div>
      
        </div>
        <div class="col-6">
          <div class="bosluk">
            <p> </p>
          </div>
          </div>

          <div class="hovericin">
            <div class="resimbir">
              <img src="/assets/doktoruc.jpg">
            </div>
  
        <div class="dokuz">
          <h4 class="baslik7">Netger Doktor ürününde %20 İndirim Fırsatı</h4>
          <p class="yazi6">Özel muayenehanesini son 1 yıl içinde açan doktorlara özel!</p>
        
          <button type="button" class="btn1 btn-warning">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
               </svg>  
            Daha Fazla Bilgi
          </button>
        
          </div>
          </div>
  
        <div class="col-6">
          <div class="bosluk">
            <p> </p>
          </div>
          </div>




</div>