h3{
    font-family: 30px Popping;
    font-weight: 800;
    font-size: xx-large;
    display: flex;
    justify-content: center;

}
.hr{
    width: 80px;
    border: 3.5px solid #ecc94b;
    background-color: #ecc94b;
    border-radius: 9999px;
    margin-top: 20px;
    margin-bottom: 15px;
}

.bir{
    border: 1px;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 10%), 0 1px 2px 0 rgb(0 0 0 / 6%);
    background-image: url(/assets/kurumsal.png);

    padding:280px 256px 48px 48px;
    background-repeat: no-repeat;
    background-size: 528px 328px;
    position: relative;
}

.baslik{
    position: absolute;left:40px;top:80px;
    padding-bottom: 60%;
}

.baslik2{
    position: absolute;left:40px;top:110px;
    padding-bottom: 60%;
}

.yazi{
    position: absolute;left:40px;top:160px;
    padding-bottom: 60%;
}

.yazi2{
    position: absolute;left:40px;top:180px;
    padding-bottom: 60%;
}

.btn{
    color:#744210;
    font-family:14px Poppins;    
    border-radius: 64px;
    background:#f6e05e;
    border-color: #fefcbf;
    position: absolute;left:40px;top:240px;


}
.btn:hover {
    background:#fefcbf;
    border-color:#f6e05e;
    border:2px solid #f6e05e;

}

.iki{
    position: relative;
    border: 1px;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 10%), 0 1px 2px 0 rgb(0 0 0 / 6%);
    background-image: url(/assets/avukat.png);

    padding:280px 256px 48px 48px;
    background-repeat: no-repeat;
    background-size: 528px 328px;


}

.baslik3{
    position: absolute;left:40px;top:80px;
    padding-bottom: 60%;

}

.baslik4{
    position: absolute;left:40px;top:110px;
    padding-bottom: 60%;

}

.yazi3{
    position: absolute;left:40px;top:180px;
    padding-bottom: 60%;

}

.yazi4{
    position: absolute;left:40px;top:200px;
    padding-bottom: 60%;

}

.uc{


    border: 1px;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 10%), 0 1px 2px 0 rgb(0 0 0 / 6%);
    background-image: url(/assets/doktor.png);

    padding:280px 256px 48px 48px;
    background-repeat: no-repeat;
    background-size: 532px 328px;
    position: relative;
    place-self: center;
}


.baslik5{
    position: absolute;left:40px;top:140px;
    padding-bottom: 60%;
}


.bosluk{
    padding-top: 15px;
    padding-bottom: 15px;
}

.bir:hover{
transition: all .2s ease-in-out;
box-shadow: 0 10px 15px -3px rgb(0 0 0 / 10%), 0 4px 6px -2px rgb(0 0 0 / 5%);
}

.iki:hover{
    transition: all .2s ease-in-out;
box-shadow: 0 10px 15px -3px rgb(0 0 0 / 10%), 0 4px 6px -2px rgb(0 0 0 / 5%);
}

.uc:hover{
    transition: all .2s ease-in-out;
box-shadow: 0 10px 15px -3px rgb(0 0 0 / 10%), 0 4px 6px -2px rgb(0 0 0 / 5%);
}

.bosluk2{
    padding-top: 30px;
    padding-bottom: 6rem;
}

@media screen and(max-width:1280px){
    .binikiyuzseksen{
        display:none;
    }
}


.binyirmidort{
    margin:0 auto 0 auto;
	display:table;
}



.dort{
    border: 1px;
    width: 940px;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 10%), 0 1px 2px 0 rgb(0 0 0 / 6%);
    background-image: url(/assets/kampanyalariki.png);
    padding:170px 400px 48px 48px;
    background-repeat: no-repeat;
    background-size: 940px 220px;
    position: relative;

}

@media screen and(min-width:1280px){
    .binyirmidort{
        display:none;
    }
}

@media screen and(max-width:1024px){
    .binyirmidort{
        display:none;
    }
}

.btn1{
    padding: 6px 12px;
    box-shadow: unset;
    color:#744210;
    font-family:14px Poppins;    
    border-radius: 64px;
    background:#f6e05e;
    border-color: #fefcbf;
    position: absolute;left:40px;top:120px;



}
.btn1:hover {
    background:#fefcbf;
    border-color:#f6e05e;
    border:2px solid #f6e05e;

}

.baslik6{
    position: absolute;left:40px;top:30px;
    padding-bottom: 60%;
    
}

.yazi5{
    position: absolute;left:40px;top:80px;
    padding-bottom: 60%;
}

.bes{
    border: 1px;
    width: 940px;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 10%), 0 1px 2px 0 rgb(0 0 0 / 6%);
    background-image: url(/assets/avukatiki.png);
    padding:170px 400px 48px 48px;
    background-repeat: no-repeat;
    background-size: 940px 220px;
    position: relative;


}

.alti{
    border: 1px;
    width: 940px;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 10%), 0 1px 2px 0 rgb(0 0 0 / 6%);
    background-image: url(/assets/doktoriki.png);
    padding:170px 10px 48px 48px;
    background-repeat: no-repeat;
    background-size: 940px 220px;
    position: relative;


}



.resimbir{
    border: 1px;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 10%), 0 1px 2px 0 rgb(0 0 0 / 6%);
    background-repeat: no-repeat;
    position: relative;

}

.gerikalan{
    margin:0 auto 0 auto;
	display:table;
   
}

.yedi{
    padding-top: 40px;
    padding-bottom: 70px;
    padding-left: 30px;
    border: 1px;

    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 10%), 0 1px 2px 0 rgb(0 0 0 / 6%);

    position: relative;
}

.hovericin:hover{
    transition: all .2s ease-in-out;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 10%), 0 4px 6px -2px rgb(0 0 0 / 5%);
}

.sekiz{
    padding-top: 40px;
    padding-bottom: 70px;
    padding-left: 30px;
    border: 1px;

    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 10%), 0 1px 2px 0 rgb(0 0 0 / 6%);

    position: relative;
}

.dokuz{
    padding-top: 40px;
    padding-bottom: 70px;
    padding-left: 30px;
    border: 1px;

    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 10%), 0 1px 2px 0 rgb(0 0 0 / 6%);

    position: relative;
}


img{
    max-width: 100%;
    height: auto;
}

@media screen and(min-width:1024px){
    .gerikalan{
        display:none;
    }
}

.btn2{
    padding: 6px 12px;
    box-shadow: unset;
    color:#744210;
    font-family:14px Poppins;    
    border-radius: 64px;
    background:#f6e05e;
    border-color: #fefcbf;
    position: absolute;left:25px;top:120px;



}
.btn2:hover {
    background:#fefcbf;
    border-color:#f6e05e;
    border:2px solid #f6e05e;

}