<h3 class="">Kampanyalar</h3>
<div class="container hr"></div>
<span class="yellow"></span>


<div class="binikiyuzseksen">
  <div class="col-6">
  <div class="bosluk">
    <p> </p>
  </div>

  </div>
      <div class="container">
        <div class="row">
          <div class="col-md-5 offset-md-1">
            <div class="bir">
              <h4 class="baslik">{{'kw' | translate}}</h4>
              <h4 class="baslik2">{{'tasarim' | translate}}</h4>
              <p class="yazi">{{'cumle1' | translate}} </p>
              <p class="yazi2">{{'cumle2' | translate}}</p>
            
              <button type="button" class="btn btn-warning">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
                   </svg>  
                   {{'dahaf' | translate}}
              </button>
            
              </div>

          </div>

          <div class="col-md-5">
            <div class="iki">
              <h4 class="baslik3">{{'avukat' | translate}}</h4>
              <h4 class="baslik4">{{'cumle3' | translate}}</h4>
              <h4 class="baslik5">{{'firsat' | translate}}</h4>
              <p class="yazi3">{{'cumle4' | translate}}</p>
              <p class="yazi4">{{'cumle5' | translate}}</p>
            
              <button type="button" class="btn btn-warning">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
                   </svg>  
                   {{'dahaf' | translate}}
              </button>  </div>

          </div>
        </div>
        
  <div class="col-6">
  <div class="bosluk">
    <p> </p>
  </div>

  </div>

  <div class="container">
          
          <div class="col-md-5 offset-md-3">
            <div class="uc">
              <h4 class="baslik3">{{'doktor' | translate}}</h4>
              <h4 class="baslik4">{{'cumle3' | translate}}</h4>
              <h4 class="baslik5">{{'firsat' | translate}}</h4>
              <p class="yazi3">{{'cumle6' | translate}}</p>
              <p class="yazi4">{{'cumle7' | translate}}</p>
            
              <button type="button" class="btn btn-warning">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
                   </svg>  
                   {{'dahaf' | translate}}
              </button>  
            </div>
          </div>
  </div>

  <div class="col-6">
  <div class="bosluk2">
    <p> </p>
  </div>
  </div>
 
</div>
</div>





<div class="binyirmidort">

<div class="col-6">
  <div class="bosluk">
    <p> </p>
  </div>
  </div>

  <div class="dort">
    <h4 class="baslik6">{{'cumle8' | translate}}</h4>
    <p class="yazi5">{{'cumle9' | translate}}</p>
  
    <button type="button" class="btn1 btn-warning">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
         </svg>  
         {{'dahaf' | translate}}
    </button>
  
    </div>

    <div class="col-6">
      <div class="bosluk">
        <p> </p>
      </div>
      </div>

    <div class="bes">
      <h4 class="baslik6">{{'cumle10' | translate}}</h4>
      <p class="yazi5">{{'cumle11' | translate}}</p>
    
      <button type="button" class="btn1 btn-warning">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
           </svg>  
           {{'dahaf' | translate}}
      </button>
    
      </div>
      <div class="col-6">
        <div class="bosluk">
          <p> </p>
        </div>
        </div>

      <div class="alti offset">
        <h4 class="baslik6">{{'cumle12' | translate}}</h4>
        <p class="yazi5">{{'cumle13' | translate}}</p>
      
        <button type="button" class="btn1 btn-warning">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
             </svg>  
             {{'dahaf' | translate}}
        </button>
      
        </div>

      <div class="col-6">
        <div class="bosluk">
          <p> </p>
        </div>
        </div>


</div>





<div class="gerikalan">

  <div class="col-6">
    <div class="bosluk">
      <p> </p>
    </div>
    </div>
  <div>

        <div class="hovericin">
    <div class="resimbir">
      <img src="/assets/kampanyauc.jpg">
    </div>


    <div class="yedi">
      <h4 class="baslik7">{{'cumle8' | translate}}</h4>
      <p class="yazi6">{{'cumle9' | translate}}</p>
    
      <button type="button" class="btn2 btn-warning">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
           </svg>  
           {{'dahaf' | translate}}
      </button>
    
      </div>
  </div>
 


      <div class="col-6">
        <div class="bosluk">
          <p> </p>
        </div>
        </div>



          <div class="hovericin">
    <div class="resimbir">
      <img src="/assets/avukatuc.jpg">
    </div>

      <div class="sekiz">
        <h4 class="baslik7">{{'cumle10' | translate}}</h4>
        <p class="yazi6">{{'cumle11' | translate}}</p>
      
        <button type="button" class="btn2 btn-warning">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
             </svg>  
             {{'dahaf' | translate}}
        </button>

      </div>
      
        </div>
        <div class="col-6">
          <div class="bosluk">
            <p> </p>
          </div>
          </div>

          <div class="hovericin">
            <div class="resimbir">
              <img src="/assets/doktoruc.jpg">
            </div>
  
        <div class="dokuz">
          <h4 class="baslik7">{{'cumle12' | translate}}</h4>
          <p class="yazi6">{{'cumle13' | translate}}</p>
        
          <button type="button" class="btn2 btn-warning">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
               </svg>  
               {{'dahaf' | translate}}
          </button>
        
          </div>
          </div>
  
        <div class="col-6">
          <div class="bosluk">
            <p> </p>
          </div>
          </div>




</div>