.col{
    border: 2px solid black;

}

.row{
    width: 600px;
    margin:10px;

}

.url{
    padding:0 10px 10px 0 ;
}

.ugh{
    float:right;
    padding:0 0 10px 10px;
}

.btn{
    color:#744210;
    font-family:14px Poppins;    
    border-radius: 64px;
    background:#f6e05e;
    border-color: #fefcbf;

}
.btn:hover {
    background:#fefcbf;
    border-color:#f6e05e;
    border:2px solid #f6e05e;

}