<h3>Kampanyalar</h3>
<div class="container hr"></div>
<span class="yellow"></span>

<div class="col-6">
  <div class="bosluk">
    <p> </p>
  </div>

</div>

<div class="row justify-content-evenly">
  <div class="col-5">
  <div class="bir">
  <h4 class="baslik">Kurumsal Web</h4>
  <h4 class="baslik2">Tasarım</h4>
  <p class="yazi">Firmanıza özel hazırlanmış bir </p>
  <p class="yazi2">internet siteniz olsun!</p>

  <button type="button" class="btn btn-warning">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
      <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
       </svg>  
    Daha Fazla Bilgi
  </button>

</div>

  </div>
  <div class="col-5">
    <div class="iki">
      <h4 class="baslik3">Netger Avukat</h4>
      <h4 class="baslik4">ürününde %20 İndirim</h4>
      <h4 class="baslik5">Fırsatı</h4>
      <p class="yazi3">Ofisini son 1 yıl içinde açan</p>
      <p class="yazi4">avukatlara özel!</p>
    
      <button type="button" class="btn btn-warning">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
           </svg>  
        Daha Fazla Bilgi
      </button>  </div>


</div>



<div class="col-6">
  <div class="bosluk">
    <p> </p>
  </div>

</div>




<div class="row justify-content-evenly">
  <div class="col-5">
  <div class="iki">
  <h4 class="baslik3">Netger Doktor</h4>
  <h4 class="baslik4">ürününde %20 İndirim</h4>
  <h4 class="baslik5">Fırsatı</h4>
  <p class="yazi3">Özel muayenehanesini son 1 yıl</p>
  <p class="yazi4">içinde açan doktorlara özel!</p>

  <button type="button" class="btn btn-warning">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
      <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
       </svg>  
    Daha Fazla Bilgi
  </button>  </div>

      </div>
      </div>


