.image{
    background-image: url("/assets/hero.png");
    color: white;
    padding: 300px;
    background-position: center center;
    text-align: center;
    background-size: cover;
}

.header{
    font-weight: 900;
    font-family: 'Poppins';
    font-size: 64px;
}

.secondHeader{
    font-size: 18px;
    font-family: "Rubik";
}