.image {
  background-image: url("/assets/hero.png");
  color: white;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  background-position: center center;
  text-align: center;
  background-size: cover;
  height: 750px;
  flex-direction: row;
  .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    .header {
      font-weight: 900;
      font-family: "Poppins";
      font-size: 64px;
    }
    .secondHeader {
      font-size: 18px;
      font-family: "Rubik";
      flex-direction: row;
    }
  }
}

@media screen and(max-width: 1024px){
    h1.header{
        font-size: 30px;
    }
    p.secondHeader{
        font-size:14px;
    }
}