.col{
    font-family: 12px Rubik;
    padding-right: 30px;
 
    
}

a{
    margin-left:15px;
}

.row{
    padding-top: 5px;
    background:#e2e8f0 ;
    font-size: small;
    font-weight: 600;
    padding-top: 10px;

}

svg{
        margin-left: 15px;

}
div{
    color:#718096;

}
