.col{
    font-family: 12px Rubik;
 
    
}

a{
    margin-left:20px;
}

.row{
    padding-top: 10px;
    background:#e2e8f0 ;
    padding-bottom: 2px;
    margin:0px 32.4px;
    color:#718096;
    font-size: small;
    font-weight: 600;

}

svg{
        margin-left: 20px;

}

.call{
    width: 0%;
}
