.col{
    font-family: 12px Rubik;

    margin-left: 70px;
 
    
}


.row{
    background:#e2e8f0 ;
    font-size: small;
    font-weight: 600;
    padding-top: 9px;
    padding-bottom: 1px;

}

svg{
        margin-left: 8px;

}
div{
    color:#718096;

}

.navLink{
    color:#718096;
    display:inline-block;
    text-decoration: unset;
    padding-right: 15px;
}

.navLink:hover{
    color:black
}

  @media screen and (max-width: 1024px) {
    .row {
      display: none;
    }
  }