<div class="container-fluid">
    <div class="row align-items-start">
      <div class="col">
        <a> <img class="netger" src="/assets/netger2.png">  </a>
        <div>
          <p> 444 8 9080</p>
        <p>info@netger.net</p>
        <p> Manas Bulvarı Adalet Mahallesi 
          Folkart Towers A Kule No:47 B Kat:21 
          D:2107 Bayraklı/İzmir</p>
          <div>
            buraya logolar
          </div>
      </div>
      <div><a><img class="partner" src="/assets/google-partner.png"></a></div>
      </div>
      <div class="col">
        One of three columns
      </div>
      <div class="col">
        One of three columns
      </div>
      <div class="col">
        One of three columns
      </div>
    </div>
</div>