<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container">
      <a class="navbar-brand" href="#"><img src="assets/logo-s.png"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Ürünler
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="#">Netger Avukat</a></li>
                  <li><a class="dropdown-item" href="#">Netger Doktor</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Hizmetler
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="#">Dijital Pazarlama</a></li>
                  <li><a class="dropdown-item" href="#">Web Tasarım</a></li>
                  <li><a class="dropdown-item" href="#">Sosyal Medya Danışmanlığı</a></li>
                  <li><a class="dropdown-item" href="#">Mobil Uygulama Geliştirme</a></li>
                  <li><a class="dropdown-item" href="#">Fotoğraf ve Video Çekimi</a></li>
                </ul>
              </li>

            <li class="nav-item">
                <a class="nav-link" href="#">
                    
                    Kurumsal Web Tasarımı
                </a>
            </li>

          <li class="nav-item">
            <a class="nav-link" href="#">Netger Baskı</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="#">Referanslar</a>
          </li>
        </ul>
        <button type="button" class="btn btn-warning">Sizi Arayalım</button>
      </div>
    </div>
  </nav>
