.btn{
    color:#744210;
    font-family:14px Poppins;    
    border-radius: 64px;
    background:#f6e05e;
    border-color: #fefcbf;

}
.btn:hover {
    background:#fefcbf;
    border-color:#f6e05e;
    border:2px solid #f6e05e;

}


.nav-link{

    color: #4a5568;
    padding:20px;
    font-family:14px Poppins;
    font-size: large;
    font-weight: bold;
    background: white;

}

.dropdown-item{
    background:white;
}

.dropdown-item:hover{
    background:#fefcbf;
}

.nav-link:hover {

background:#f6e05e;

}

svg{
    opacity:0.8;
}
