

.row{
   background: #2d3748;

}

.col{

    color:#a0aec0;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.call{
    color:#a0aec0;
    width: 0%;
    padding-right: 55px;
    padding-top: 5px;
}