.container-fluid {
  background-color: #edf2f7;
  font-size: 14px;

  .row {
    text-align: center;
    background-color: rgba(237, 242, 247, var(--bg-opacity));
    .feridun {
      border: 0.1px #e2e8f0 solid;
      &:hover {
        background-color: white;
      }

      .btn {
        height: 50px;
        width: 100%;
        background-color: rgba(237, 242, 247, var(--bg-opacity));
        padding-top: 12px;
        font-family: "Poppins";
        font-size: 14px;
        font-weight: bold;

        .bi {
          padding-bottom: 3px;
        }
      }
    }
  }
}
