div.container-fluid {
    text-align: center;
    .row{
        padding: 0px 32px;
        .ref{
            padding: 20px;
        }
    }
}

img {
    transition: transform .2s;
    filter: grayscale(100%);
    align-items: center;


    &:hover {
        filter: none;
        transform: scale(1.1);
    }
}
img.res1 {
    width: 180px;
    height: 50px;
}
img.res2 {
    width: 180px;
    height: 95px;
}
img.res3 {
    width: 180px;
    height: 35px;
}
img.res4 {
    width: 180px;
    height: 100px;
}
img.res5 {
    width: 150px;
    height: 30px;
}
img.res6 {
    width: 180px;
    height: 90px;
}
img.res7 {
    width: 200px;
    height: 60px;
}
img.res8 {
    width: 180px;
    height: 90px;
}
img.res9 {
    width: 180px;
    height: 90px;
}
img.res10 {
    width: 180px;
    height: 90px;
}
img.res11 {
    width: 180px;
    height: 90px;
}
img.res12 {
    width: 180px;
    height: 90px;
}
img.res13 {
    width: 180px;
    height: 90px;
}
img.res14 {
    width: 180px;
    height: 90px;
}
img.res15 {
    width: 180px;
    height: 90px;
}
img.res16 {
    width: 180px;
    height: 90px;
}

img.res17 {
    width: 180px;
    height: 90px;
}
img.res18 {
    width: 180px;
    height: 90px;
}
img.res19 {
    width: 180px;
    height: 90px;
}
img.res20 {
    width: 180px;
    height: 90px;
}
img.res21 {
    width: 180px;
    height: 90px;
}
img.res22 {
    width: 180px;
    height: 90px;
}
img.res23 {
    width: 180px;
    height: 90px;
}

img.res24 {
    width: 180px;
    height: 90px;
}
img.res25 {
    width: 180px;
    height: 90px;
}
img.res26 {
    width: 180px;
    height: 90px;
}
img.res27 {
    width: 180px;
    height: 90px;
}