<div class="container-fluid">
    <div>
        <h2>Müşterilerimiz</h2>
        <div class="hr mb-3">
            <span class="bg-yellow-500 inline-block rounded-full" style="height:7px;width:78px"></span>
        </div>
        <p>Dijital hizmetlerde tercihini Netger'den yana kullanan bazı müşterilerimiz!</p>
    </div>
    <div class="row row-cols-6">
        <div>
            <img src="/assets/edepola.png" class="res1">
        </div>
        <div>
            <img src="/assets/tatildukkani.png" class="res2">
        </div>
        <div>
            <img src="/assets/nilda.png" class="res3">
        </div>
        <div>
            <img src="/assets/akselim.png" class="res4">
        </div>
        <div>
            <img src="/assets/inceheap.png" class="res5">
        </div>
        <div>
            <img src="/assets/modasaat.png" class="res6">
        </div>
        <div>
            <img src="/assets/nova.png" class="res7">
        </div>
        <div>
            <img src="/assets/ejzane.png" class="res8">
        </div>
        <div>
            <img src="/assets/recete.png" class="res9">
        </div>
        <div>
            <img src="/assets/sadeneon.png" class="res10">
        </div>
        <div>
            <img src="/assets/reformhalı.png" class="res11">
        </div>
        <div>
            <img src="/assets/ortaklar.png" class="res12">
        </div>
        <div>
            <img src="/assets/technolar.png" class="res13">
        </div>
        <div>
            <img src="/assets/konusarak.png" class="res14">
        </div>
        <div>
            <img src="/assets/getta.png" class="res15">
        </div>
        <div>
            <img src="/assets/usc.png" class="res16">
        </div>
        <div>
            <img src="/assets/polat.png" class="res17">
        </div>
        <div>
            <img src="/assets/sky.png" class="res18">
        </div>
        <div>
            <img src="/assets/buajans.png" class="res19">
        </div>
        <div>
            <img src="/assets/erzincan.png" class="res20">
        </div>
        <div>
            <img src="/assets/istanbul.png" class="res21">
        </div>
        <div>
            <img src="/assets/ews.png" class="res22">
        </div>
        <div>
            <img src="/assets/uyafaa.png" class="res23">
        </div>
        <div>
            <img src="/assets/loft.png" class="res25">
        </div>
        <div>
            <img src="/assets/atasever.png" class="res26">
        </div>
        <div>
            <img src="/assets/docdr.png" class="res27">
        </div>
        <div>
            <img src="/assets/tuzee.png" class="res28">
        </div>
                                                                                            
    </div>
</div>
