<div class="container-fluid">
  <div class="row">
    <div class="sutun offset-0 col-12 offset-sm-0 col-sm-12 offset-md-2 col-md-8 offset-lg-1 col-lg-5 offset-xl-1 col-xl-5">
      <img src="/assets/web.jpg" class="img-fluid">
    </div>
    <div class="sutun offset-0 col-12 offset-sm-0 col-sm-12 offset-md-2 col-md-8 offset-lg-1 col-lg-5 offset-xl-0 col-xl-5">
      <h1>{{'SAll' | translate}}</h1>
      <p>{{'Stwo' | translate}}
        <span class="kalin">{{'Skalin' | translate}} </span>{{'Sthree' | translate}}
      </p>

      <button class="sizi-arayalim"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#744210"
          class="telephone" viewBox="0 0 16 16">
          <path fill-rule="evenodd"
            d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z" />
        </svg> {{'Scall' | translate}}</button>
    </div>
  </div>
</div>