.container-fluid {
    background-color: #ecc94b;
    
    .row {

        .sutun {
            font-family: 'Poppins';
            text-align: center;
            font-weight: bold;
            font-size: 20px;
            padding: 14px;

            .buton3 {
                background-color: white;
                border-radius: 25px;
                padding: 8px 12px;
                font-weight: 600;
                font-size: 18px;
                border: 0px;

            }

            .a {
                background-color: #ecc94b;
                font-family: 'Poppins';
                text-decoration: none;
                font-size: 1.25rem;
                color: #2d3748;
                font-weight: 600;
            }

        }
    }
}