.container-fluid {
    background-color: #ecc94b;
    
    .row {

        .sutun {
            padding: 14px;
            font-size: 20px;
            font-weight: bold;
            text-align: center;
            font-family: 'Poppins';
            
            .buton3 {
                font-size: 18px;
                font-weight: 600;
                padding: 8px 12px;
                border-radius: 25px;
                background-color: white;
            
            }

            .a {
                font-weight: 600;
                color: #2d3748;
                font-size: 1.25rem;
                text-decoration: none;
                font-family: 'Poppins';
                background-color: #ecc94b;
                
            }
        }
    }
}