.container-fluid {
  background-color: #edf2f7;
  .row {
    padding-top: 100px;
    padding-bottom: 100px;
    .text {
      width: 35%;
      text-align: center;
      align-items: center;
      padding-top: 20px;
      .header {
        font-weight: 700;
      }
      .hr {
        width: 80px;
        border: 3.5px solid #ecc94b;
        background-color: #ecc94b;
        border-radius: 9999px;
        margin-top: 20px;
        margin-bottom: 15px;
      }
      .btn {
        border: 2px solid #ecc94b;
        color: #744210;
        font-family: 14px Poppins;
        border-radius: 9999px;
        background: #f6e05e;
        padding-top: 4px;
        padding-bottom: 4px;
      }

      .btn:hover {
        background: #fefcbf;
        border-color: #f6e05e;
        border: 2px solid #f6e05e;
      }
    }
    .colon {
      text-align: center;
      align-items: center;
    }

    .col:hover {
      transform: scale(1.07);
    }
    .portfolio {
      font-weight: 67%;
      text-align: center;
    }

    p {
      line-height: 1.625;
      font-family: Rubik;
      font-size: 16px;
      padding-top: 10px;
    }

    .displayClass {
      display: flex;
      justify-content: center;
    }

    .transition {
      transition: all 0.2s ease-in-out;
    }

    img {
      border-radius: 8px;
      box-shadow: 0 1px 3px 0 rgb(0 0 0 / 10%), 0 1px 2px 0 rgb(0 0 0 / 6%);
      width: 175px;
      height: 235px;
    }

    @media screen and(max-width:1140px) {
      a.xlSize {
        width: 134px;
        height: 180px;
      }
    }
  }
}
