<div class="container-fluid">
    <div class="row">
      <div class="text .col-md-4">
        <h2>Referanslar</h2>
        <div class="container hr"></div>
        <p>
            Hizmet alanlarımız kapsamında tamamladığımız projelerden bazıları!
        </p>

    <div class="portfolio">
        <button type="button" class="btn btn-warning"> 
            Tümünü Göster
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
                 </svg> 
          </button>
    </div>
    </div>
      <div class="port">
        <img src="/assets/uyafa.png" class="img">
      </div>
      <div class="port">
        <img src="/assets/akselimoglu.png" class="img">
      </div>
      <div class="port">
        <img src="/assets/tuze.png" class="img">
      </div>
      <div class="port">
        <img src="/assets/erkamkomurcu.png" class="img">
      </div>
  </div>
</div>
