.header{
    padding-top: 100px;
    font-family: "Poppins";
    font-weight: 900;
}

h2{
    font-weight: 900;
}

.row{
    padding-top: 25px;
    padding-bottom: 100px;
    font-family: "Poppins";
}

.slg{
    font-family: Rubik;
    font-size: 18px;
}

.hr{
    width: 80px;
    border: 3.5px solid #ecc94b;
    background-color: #ecc94b;
    border-radius: 9999px;
    margin-top: 20px;
    margin-bottom: 15px;
}

.bckc{
    background-color: #edf2f7;
}

.txt{
    text-align: center;
}

a{
    text-decoration: none;
    color: black;
    font-size: 16px;
}

.btn:hover{
    background-color: #f6e05e;
    color: #744210;
    transition: all .2s ease-in-out;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 10%), 0 4px 6px -2px rgb(0 0 0 / 5%);
}

.btn{
    color: #718096;
    border: 0px solid gray;
    border-radius: 9999px;
    margin: 0.3rem;
    padding: 0.5rem;
    background-color: white;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 10%), 0 1px 2px 0 rgb(0 0 0 / 6%);
    text-align: center;
}

.bi{
    padding-bottom: 2px;
}